<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>IIIF Image Server 2.0 + Mirador</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ request.url_root }}static/mirador/css/mirador-combined.css"/>
        <link rel="stylesheet" type="text/css" href="{{ request.url_root }}static/styles/crosslink.css"/>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
        <style type="text/css">
          body { padding: 0; margin: 0; overflow: hidden; width: 100%; height: 100%;}
          #viewer { background: #333; width: 100%; height: 100%; position: fixed; }
        </style>
        <meta content="IIIF Image Server 2.0 with Mirador." name="description">
        <script type="text/javascript" src="{{ request.url_root }}static/mirador/mirador.js"/></script>
        <script type="text/javascript" src="{{ request.url_root }}static/scripts/annotations.js"/></script>
        <script type="text/javascript" src="{{ request.url_root }}static/scripts/crosslink.js"/></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="viewer"></div>
        <script type="text/javascript">
          var mirador;
          $(document).ready(function() {
              mirador = Mirador({
                  "id": "viewer",
                  "layout": "1x1",
                  "buildPath": "/static/styles/",
                  "data": [{
                      "manifestUri": "{{ domain }}/manifest.json", "location": "Internet Archive"
                  }],
                  "windowObjects": [{
                      "viewType": "ImageView",
                      "loadedManifest": "{{ domain }}/manifest.json",
                      {% if page %}"canvasID": "{{ domain }}${{ page }}/canvas",{% endif %}
                      "annotationLayer": true,
                      "annotationCreation": true,
                      "annotationState": 'on'
                  }],
                  "annotationEndpoint": {
                      {% if not citation %}
                      "name": "Local Storage",
                      "module": "PragmaEndpoint"
                      {% else %}
                      "name":"Local Storage",
                      "module": "LocalStorageEndpoint"
                      {% endif %}
                  }
              });

              crosslink.setup(mirador);

              {% if citation %}

              setTimeout(2000, function() {
                  console.log(window);

                  var _this = window;
                  var oaAnno = {
                      "@context":"http://iiif.io/api/presentation/2/context.json",
                      "@type":"oa:Annotation",
                      "motivation":[
                          "oa:commenting"
                      ],
                      "resource":[
                          {
                              "@type":"dctypes:Text",
                              "format":"text/html",
                              "chars":"<p><iframe src=\"//www.youtube.com/embed/ga4L1w66AbU\" width=\"425\" height=\"350\"></iframe></p>"
                          }
                      ],
                      "on":[
                          {
                              "@type":"oa:SpecificResource",
                              "full":"https://media.nga.gov/public/manifests/canvas/106382.json",
                              "selector":{
                                  "@type":"oa:Choice",
                                  "default":{
                                      "@type":"oa:FragmentSelector",
                                      "value":"xywh=2818,3585,1154,982"
                                  },
                              },
                              "within":{
                                  "@id":"https://media.nga.gov/public/manifests/76219/manifest.json",
                                  "@type":"sc:Manifest"
                              }
                          }
                      ],
                      "@id": "ia-citation"
                  };

                  _this.endpoint.create(oaAnno, function(data) {
                      //the success callback expects the OA annotation be returned
                      annoID = String(data['@id']); //just in case it returns a number
                      _this.annotationsList.push(data);
                      _this.eventEmitter.publish('ANNOTATIONS_LIST_UPDATED', {windowId: _this.id, annotationsList: _this.annotationsList});
                  });
              });
              {% endif %}

          });
        </script>
    </body>
</html>
