#viewer {
    width: 100%;
    height: 100%;
    position: fixed;
}

.xannotate-widget {
    position: fixed;
    left: 5px;
    top: 5px;
}

.mirador-container .mirador-main-menu-bar {
    background-color: #465575;
}