body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0px;
}

header {
    background-color: #222;
}

img.center {
    display: block;
    margin: 0 auto;
    width: 228px;
}

a {
    color: #4183C4;
    text-decoration: none;
}

p {
    font-size: .85em;
    line-height: 1.5em;
    color: #444;
}

hr {
    margin: 0px;
    height: 0px;
    border: none;
    border-top: 1px solid #ddd;
}

article:first-child {
    margin-top: 0px;
}

article {
    margin-top: 50px;
}

code {
    background-color: #444;
    border-radius: 3px;
    display: block;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-size: .75em;
    color: #fff;
}

.pagetop {
    margin-bottom: 10px;
}

h1 {
    font-size: 2.2em;
    margin-top: 0px;
    font-weight: normal;
    color: #333;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 30px;
}

h2 a {
    color: #444;
}

h3 {
    color: #444;
    font-size: 1em;
}

#container {
    width: 960px;
    margin: 0 auto;
}

#container main {
    width: 690px;
    padding-top: 17px;
    padding-right: 10px;
    float: left;
}

#container nav {
    width: 250px;
    float: right;
}

#container main ol.toc {
}

#container main ol.toc li {
    padding: 3px 0px;
}

#container main ol.toc li a {
    color: #333;
    font-size: .9em;
    text-decoration: underline;
}

#container nav ol {
    border: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
}

#container nav ol li {
    border-bottom: 1px solid #eee;
    padding: 5px;
    font-size: .9em;
}

#container nav ol li:last-child {
    border-bottom: none;
}

#container nav ol li a {
    font-weight: bold;
    text-decoration: none;
    color: #444;
}

.clearfix {
    clear: both;
}

#overview {
}

.hidden {
    display: none;
}

.banner {
    font-size: .9em;
    background-color: #fafafa;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.request {
    font-size: .9em;
    background-color: #fafafa;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-size: .75em;
}

.warning {
    font-weight: bold;
    color: red;
}

h2.pagetitle {
    margin-bottom: 10px;
}