html {
//    background-image: url('https://img11.deviantart.net/efea/i/2006/240/7/a/bg_texture___wood_by_nortago.jpg');
    background-color: #000;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding:0px;
}

body {
    margin: 0px;
    padding:0px;
    height: 100%;
    width: 100%;
}